<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Ricerca Laboratorio</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{~/css/registrazioneStyle.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="logo" style="padding-left: 20px;">
        <a th:href="@{/index}"><img th:src="@{~/img/logo.png}" height="53px" width="200px"></a>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div style="width:1000px;margin-left: auto;margin-right: auto;margin-top:80px;padding: 24px;" >
            <h3 style="color: black; padding-bottom: 8px"> <b>Lista Laboratorio</b></h3>
            <p style="color: black; padding-bottom: 5px">Una volta scelto il laboratorio presso cui effetturare il tampone, cliccare sul nome per essere reindirizzato alla sua pagina corrispondente</p>
            <table class="table table-secondary table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome Laboratorio</th>
                    <th scope="col">Indirizzo Laboratorio</th>
                    <th scope="col">Distanza dal Laboratorio [KM]</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="lab,iterationStatus : ${laboratori}">
                    <td th:text="${iterationStatus.count}" style="width: 10px"></td>
                    <td th:text="${lab.nomeLaboratorio}">
                        <form th:action = "@{/index}" th:object="${lab}" method = "GET">
                            <button type="submit" class="btn btn-link"></button>
                        </form>
                    </td>
                    <td th:text="${lab.indirizzoStradale}"></td>
                    <td th:text=""></td><!-- qui è da inserire il campo distanza ma non so come vuoi passarlo-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
