<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Cittadino</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{~/css/styleMenu.css}">
</head>
<body>

<div class="header">
    <div style="padding-left: 20px">
        <a th:href="@{/laboratorio/index}"><img th:src="@{~/img/logo.png}" height="53px" width="200px"  class="logo" ></a>
    </div>
</div><br><br><br>

<div style="width:1100px;margin-left: auto;margin-right: auto;margin-top:80px;padding: 24px;" >
    <fieldset>
        <div class="colonne">
            <div class="breaks2 " id="floating" style="margin-right: 23px">
                <div id="containerDettagli" class="breaks3 record">
                    <h3 class="record-h2">Documenti Paziente</h3>
                    <dl style="padding-right: 10px" class="record-riga">
                        <div style="margin-left: 15px; margin-bottom: 5px; width: 95%" class="text-success">
                            <h4>[[${message}]]</h4>
                        </div>
                        <hr>
                        <dt>Caricare i seguenti file in formato PDF:</dt>
                        <dd>
                            <ul>
                                <li>Questionario Anamnesi</li>
                                <li>Consenso informato</li>
                                <li>Esito tampone</li>
                            </ul>
                        </dd>
                        <dd style="margin-left: 15px; margin-bottom: 5px; width: 95%">
                            <form th:action="@{/laboratorio/upload}" method="post" th:object="${prenotazione}"
                                  enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto">

                                <input class="form-control" type="hidden" th:attr="value = ${prenotazione.id}" th:field="*{id}"/>
                                <input type="file" name="document" class="form-control" required/>
                                <input type="submit" value="Carica" class="openbtn">
                            </form>
                        </dd>
                        <hr>
                        <dt>File caricati: </dt><br><br>
                        <dd th:each="doc : ${listDocs}">
                            <div>
                                <ul>
                                    <li>
                                        <img th:src="@{/img/document.png}" style="width:50px; height: 40px"/>
                                        <a class="a1" th:href="@{'/laboratorio/download?id='+${doc.id}}">[[${doc.name}]]</a>
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="breaks2 " id="floating1">
                <form th:action="@{/laboratorio/index}" method="post">
                    <div id="containerCalendario" class="breaks3 record">
                        <h3 class="record-h2">Informazioni Pagamento</h3>
                        <hr>
                        <dt>Modalità pagamento:</dt>
                        <dd style="margin-bottom: 10px">
                            <span sec:authentication="principal.email"></span>
                        </dd>
                        <hr>
                        <dt>Stato pagamento:</dt>
                        <dd>
                            <input class="form-check-input" type="checkbox" id="myCheck">
                            <span>Il paziente ha pagato?</span>
                        </dd>
                        <div style="float:right; margin-right: 8px; margin-bottom: 15px">
                            <input type="submit" value="Salva" class="openbtn">
                        </div>
                        <br><br>
                    </div>
                </form>
                <div class="form-group" style="float: right">
                    <a th:href="@{/laboratorio/lista}" type="submit" class="openbtn" style="background: red">Indietro</a>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<script th:src="@{~/js/pagamento.js}"></script>
</body>
</html>
