<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Laboratorio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/styleMenu.css}">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{~/js/menu.js}"></script>
</head>
<body>

<div class="header">
    <div style="padding-left: 20px">
        <a th:href="@{/laboratorio/index}"><img th:src="@{~/img/logo.png}" height="53px" width="200px" class="logo"></a>
    </div>
    <ul class="menu" id="menu" />
    <div class="menuBtn" style="float: right">
        <button class="openbtn" onclick="openNav()">Menu &#9776;</button>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/laboratorio/lista"><i class="fa fa-search"></i> Elenco Prenotazioni</a>
    <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
</div>

<div style="width:1200px;margin-left: auto;margin-right: auto;margin-top:80px;padding: 24px;">
    <fieldset>
        <div class="imgcontainer">
            <img th:src="@{~/img/img_avatar.png}" alt="avatar" class="avatar"
                 style="max-height: 200px; max-width: 200px; margin-bottom: 20px; margin-top: 20px ">
        </div>

        <div class="colonne">
            <div class="breaks2" id="floating" style="margin-right: 23px">
                <div id="containerDettagli" class="breaks3 record">
                    <h3 class="record-h2">Informazioni Laboratorio</h3>
                    <dl style="padding-right: 10px" class="record-riga">
                        <hr>
                        <dt>Indirizzo e-mail:</dt>
                        <dd>
                            <span sec:authentication="principal.email"></span>
                        </dd>
                        <hr>
                        <dt>Nome laboratorio:</dt>
                        <dd>
                            <span sec:authentication="principal.laboratorio.nome"></span>
                        </dd>
                        <hr>
                        <dt>Numero di telefono:</dt>
                        <dd>
                            <span sec:authentication="principal.laboratorio.telefono"></span>
                        </dd>
                        <hr>
                        <dt>Indirizzo sede:</dt>
                        <dd>
                            <span sec:authentication="principal.laboratorio.indirizzo"></span>
                        </dd>
                        <hr>
                        <dt>Codice IBAN:</dt>
                        <dd>
                            <span sec:authentication="principal.laboratorio.IBAN"></span>
                        </dd>
                        <hr>
                        <dt>Partita IVA:</dt>
                        <dd>
                            <span sec:authentication="principal.laboratorio.partitaIVA"></span>
                        </dd>
                        <br><br><br>
                    </dl>
                </div>
                <div class="form-group" style="float: right">
                    <a th:href="@{/laboratorio/updateProfile}" class="openbtn">Modifica Profilo</a>
                </div>
            </div>

            <div class="breaks2" id="floating1" style="margin-right: 23px">
                <div id="containerCalendario" class="breaks3 record">
                    <h3 class="record-h2">Calendario Laboratorio</h3>
                    <dl style="padding-right: 10px" class="record-riga">
                        <hr>
                        <dt>Lunedì:</dt>
                        <dd>
                            <span th:if="${#authentication.principal.laboratorio.calendario.lunedi ne null}">
                            Mattina:
                            <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.lunedi.aperturaMattina)} ?
                            '--' : ${#authentication.principal.laboratorio.calendario.lunedi.aperturaMattina}"/>/
                            <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.lunedi.chiusuraMattina)} ?
                            '--' : ${#authentication.principal.laboratorio.calendario.lunedi.chiusuraMattina}"/><br>
                            Pomeriggio:
                            <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.lunedi.aperturaPomeriggio)} ?
                            '--' : ${#authentication.principal.laboratorio.calendario.lunedi.aperturaPomeriggio}"/>/
                            <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.lunedi.chiusuraPomeriggio)} ?
                            '--' : ${#authentication.principal.laboratorio.calendario.lunedi.chiusuraPomeriggio}"/>
                            </span>
                            <span th:unless="${#authentication.principal.laboratorio.calendario.lunedi ne null}">
                                Chiuso
                            </span>
                        </dd>
                        <hr>
                        <dt>Martedì:</dt>
                        <dd>
                            <span th:if="${#authentication.principal.laboratorio.calendario.martedi ne null}">
                                Mattina:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.martedi.aperturaMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.martedi.aperturaMattina}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.martedi.chiusuraMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.martedi.chiusuraPomeriggio}"/><br>
                                Pomeriggio:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.martedi.aperturaPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.martedi.aperturaPomeriggio}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.martedi.chiusuraPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.martedi.chiusuraPomeriggio}"/>
                            </span>
                            <span th:unless="${#authentication.principal.laboratorio.calendario.martedi ne null}">
                                Chiuso
                            </span>
                        </dd>
                        <hr>
                        <dt>Mercoledì:</dt>
                        <dd>
                            <span th:if="${#authentication.principal.laboratorio.calendario.mercoledi ne null}">
                                Mattina:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.mercoledi.aperturaMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.mercoledi.aperturaMattina}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.mercoledi.chiusuraMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.mercoledi.chiusuraMattina}"/><br>
                                Pomeriggio:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.mercoledi.aperturaPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.mercoledi.aperturaPomeriggio}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.mercoledi.chiusuraPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.mercoledi.chiusuraPomeriggio}"/>
                            </span>
                            <span th:unless="${#authentication.principal.laboratorio.calendario.mercoledi ne null}">
                                Chiuso
                            </span>
                        </dd>
                        <hr>
                        <dt>Giovedì:</dt>
                        <dd>
                            <span th:if="${#authentication.principal.laboratorio.calendario.giovedi ne null}">
                                Mattina:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.giovedi.aperturaMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.giovedi.aperturaMattina}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.giovedi.chiusuraMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.giovedi.chiusuraMattina}"/><br>
                                Pomeriggio:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.giovedi.aperturaPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.giovedi.aperturaPomeriggio}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.giovedi.chiusuraPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.giovedi.chiusuraPomeriggio}"/>
                            </span>
                            <span th:unless="${#authentication.principal.laboratorio.calendario.giovedi ne null}">
                                Chiuso
                            </span>
                        </dd>
                        <hr>
                        <dt>Venerdì:</dt>
                        <dd>
                            <span th:if="${#authentication.principal.laboratorio.calendario.venerdi ne null}">
                                Mattina:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.venerdi.aperturaMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.venerdi.aperturaMattina}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.venerdi.chiusuraMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.venerdi.chiusuraMattina}"/><br>
                                Pomeriggio:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.venerdi.aperturaPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.venerdi.aperturaPomeriggio}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.venerdi.chiusuraPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.venerdi.chiusuraPomeriggio}"/>
                            </span>
                            <span th:unless="${#authentication.principal.laboratorio.calendario.venerdi ne null}">
                                Chiuso
                            </span>
                        </dd>
                        <hr>
                        <dt>Sabato:</dt>
                        <dd>
                            <span th:if="${#authentication.principal.laboratorio.calendario.sabato ne null}">
                                Mattina:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.sabato.aperturaMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.sabato.aperturaMattina}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.sabato.chiusuraMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.sabato.chiusuraMattina}"/><br>
                                Pomeriggio:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.sabato.aperturaPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.sabato.aperturaPomeriggio}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.sabato.chiusuraPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.sabato.chiusuraPomeriggio}"/><br>
                            </span>
                            <span th:unless="${#authentication.principal.laboratorio.calendario.sabato ne null}">
                                Chiuso
                            </span>
                        </dd>
                        <hr>
                        <dt>Domenica:</dt>
                        <dd>
                            <span th:if="${#authentication.principal.laboratorio.calendario.domenica ne null}">
                                Mattina:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.domenica.aperturaMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.domenica.aperturaMattina}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.domenica.chiusuraMattina)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.domenica.chiusuraMattina}"/><br>
                                Pomeriggio:
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.domenica.aperturaPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.domenica.aperturaPomeriggio}"/>/
                                <a th:text="${#strings.isEmpty(#authentication.principal.laboratorio.calendario.domenica.chiusuraPomeriggio)} ?
                                '--' : ${#authentication.principal.laboratorio.calendario.domenica.chiusuraPomeriggio}"/>
                            </span>
                            <span th:unless="${#authentication.principal.laboratorio.calendario.domenica ne null}">
                                Chiuso
                            </span>
                        </dd>
                        <br>
                    </dl>
                </div>

                <div class="form-group" style="float: right">
                    <a th:href="@{/laboratorio/updateCalendar}" class="openbtn">Nuovo Calendario</a>
                </div>
            </div>
        </div>
    </fieldset>
</div>
</body>
</html>
