body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.header {
    background-color: rgba(33,30,39,255);
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    padding: 20px;
    z-index: 1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    cursor: pointer;
    background-color: #0e1f75;
    display: inline-block;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 8px;
    font-weight: bold;
}

.openbtn:hover {
    background-color: #444;
}

.main {
    transition: margin-left .5s;
    margin-left: 35%;
    text-align: right;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 500px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}