body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.header {
    background-color: rgba(33,30,39,255);
    width: 100%;
    position: fixed;
    top: 0;
    display: inline-flex;
    padding: 20px;
    margin-bottom: 10px;
    z-index: 0;
}

.openbtn {
    cursor: pointer;
    background-color: #0e1f75;
    display: inline-block;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 8px;
    font-weight: bold;
}

.openbtn:hover {
    background-color: #444;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(33,30,39,255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}