<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

    <!-- create navigation bar ( header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Registrazione</a>
            </div>
        </div>
    </nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br><br>

            <div th:if="${param.already_taken}">
                <div class="alert alert-danger">
                    Indirizzo e-mail gia' registrato.
                </div>
            </div>

            <div th:if="${param.pass_match}">
                <div class="alert alert-danger">
                    Le password non coincidono.
                </div>
            </div>

            <form th:action="@{/registration}" th:object="${utentegenericoDTO}" th:method="post">
                <div class="form-group">
                    <!--/*@thymesVar id="indirizzoEmail" type="com.uniba.di.dfmdevelop.labservice.dto.UtenteGenericoDTO"*/-->
                    <label class="control-label" for="indirizzoEmail"> Indirizzo Email </label>
                    <input type="text" id="indirizzoEmail" class="form-control" th:field="*{indirizzoEmail}"
                           th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('indirizzoEmail')}" th:errors="*{indirizzoEmail}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="password" type="com.uniba.di.dfmdevelop.labservice.dto.UtenteGenericoDTO"*/-->
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password" th:field="*{password}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="conferma_password" type="com.uniba.di.dfmdevelop.labservice.dto.UtenteGenericoDTO"*/-->
                    <label class="control-label" for="conferma_password"> Conferma password </label> <input
                        id="conferma_password" class="form-control" type="password" th:field="*{conferma_password}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('conferma_password')}" th:errors="*{conferma_password}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="ruolo" type="com.uniba.di.dfmdevelop.labservice.dto.UtenteGenericoDTO"*/-->
                    <label class="control-label" for="ruolo"> Ruolo </label>
                    <select id="ruolo" class="form-control" th:field="*{ruolo}" required autofocus="autofocus">
                        <option value="LABORATORIO">Laboratorio</option>
                        <option value="CITTADINO">Cittadino</option>
                        <option value="MEDICO">Medico di Medicina Generale</option>
                        <option value="DATORE">Datore di Lavoro</option>
                        <option value="ASL">ASL</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success"> Continua </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>