<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

    <!-- create navigation bar ( header) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Registrazione Laboratorio</a>
            </div>
        </div>
    </nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- Se passiamo al link il parametro success, allora viene mostrato il div -->
            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Account creato correttamente.
                    Un link di conferma è stato inviato sul vostro indirizzo e-mail.
                </div>
            </div>

            <form th:action="@{/registration}" th:object="${laboratorioDTO}" th:method="post">
                <div class="form-group">
                    <!--/*@thymesVar id="indirizzoEmail" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="indirizzoEmail"> Indirizzo Email </label>
                    <input type="text" id="indirizzoEmail" class="form-control" th:field="*{indirizzoEmail}"
                           th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('indirizzoEmail')}" th:errors="*{indirizzoEmail}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="password" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password" th:field="*{password}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="password" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="conferma_password"> Conferma password </label> <input
                        id="conferma_password" class="form-control" type="password" th:field="*{conferma_password}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('conferma_password')}" th:errors="*{conferma_password}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="ruolo" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="ruolo"> Ruolo </label> <input
                        id="ruolo" class="form-control" th:field="*{ruolo}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('ruolo')}" th:errors="*{ruolo}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="nomeLaboratorio" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="nomeLaboratorio"> Nome Laboratorio </label> <input
                        id="nomeLaboratorio" class="form-control" th:field="*{nomeLaboratorio}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('nomeLaboratorio')}" th:errors="*{nomeLaboratorio}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="numeroTelefono" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="numeroTelefono"> Numero di telefono </label> <input
                        id="numeroTelefono" class="form-control" th:field="*{numeroTelefono}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('numeroTelefono')}" th:errors="*{numeroTelefono}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="indirizzoStradale" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="indirizzoStradale"> Indirizzo Stradale </label> <input
                        id="indirizzoStradale" class="form-control" th:field="*{indirizzoStradale}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('indirizzoStradale')}" th:errors="*{indirizzoStradale}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="codiceIban" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="codiceIban"> Codice IBAN </label> <input
                        id="codiceIban" class="form-control" th:field="*{codiceIban}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('codiceIban')}" th:errors="*{codiceIban}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <!--/*@thymesVar id="partitaIva" type="com.uniba.di.dfmdevelop.labservice.dto.LaboratorioDTO"*/-->
                    <label class="control-label" for="partitaIva"> Partita IVA </label> <input
                        id="partitaIva" class="form-control" th:field="*{partitaIva}"
                        th:errorClass="is-invalid" required autofocus="autofocus" />
                    <div th:if="${#fields.hasErrors('partitaIva')}" th:errors="*{partitaIva}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>