<div>
    <h2>Nuova password</h2>
</div>

<div th:if="${message != null}">
    <p class="text-warning">[[${message}]]</p>
</div>

<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Inserisci la nuova password" required autofocus />
            </p>
            <p>
                <input type="password" name="confermaPassword" id="confermaPassword"
                       class="form-control" placeholder="Conferma la nuova password" required />
            </p>
            <p class="text-center">
                <input type="submit" value="Conferma" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>

// Fare validazione con js
// pass devono coincidere e la pass deve essere di minimo 6 caratteri