<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pagamento rifiutato</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link th:href="@{~/css/style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <div class="logo" style="padding-left: 20px;">
        <a th:href="@{/cittadino/index}"><img th:src="@{~/img/logo.png}" height="53px" width="200px"></a>
    </div>
</div>

<div style=" width:1200px;margin-left: auto;margin-right: auto;margin-top:80px;padding: 24px;">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><i class="fa fa-warning"></i>  ATTENZIONE: pagamento rifiutato!</h4>
        <span style="color: black">La procedura di pagamento tramite paypal ha riportato dei problemi durante il suo corso causando così il suo fallimento, si prega pretanto di rieseguire la procedura</span>
        <hr>
        <span style="color: black" class="mb-0">Nel caso l'errore dovesse persiste, selezionare l'opzione "Pagamento in sede"</span>
    </div>
    <div class="form-group" style="float: right">
        <a th:href="@{/cittadino/index}" class="button">Chiudi</a>
    </div>
</div>
</body>
</html>